# GNU Build System
autom4te.cache/

# Eclipse CDT
.autotools
.cproject
.project
.settings/

# NetBeans
nbproject/

# GNU Build System
Makefile.in
configure
aclocal.m4
config/
config.*
libfswatch_config.h.in

# libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
