# GNU Build System
autom4te.cache/

# Eclipse CDT
.autotools
.cproject
.project
.settings/

# NetBeans
nbproject/

# GNU Build System
Makefile.in
compile
configure
aclocal.m4
config.*
depcomp
install-sh
missing
